<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.goboomtown.supportsdk.sample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
<!--    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT" />-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

<!--    android:name="com.goboomtown.supportsdk.application.BaseApplication"-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/support_sdk_icon"
        android:label="${applicationLabel}"
        android:roundIcon="@mipmap/support_sdk_icon"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <meta-data
            android:name="flavor"
            android:value="${flavor}" />
        <activity android:name="com.goboomtown.supportsdk.sample.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|uiMode"
            android:launchMode="singleTask"
            android:screenOrientation="user"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.goboomtown.supportsdk.activity.VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|uiMode" />
        <activity
            android:name="com.goboomtown.activity.KBActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|uiMode" />

        <service
            android:name="com.goboomtown.supportsdk.service.MediaProjectionService"
            android:enabled="true"
            android:foregroundServiceType="mediaProjection"
            android:exported="true"/>
        <service android:name="com.goboomtown.supportsdk.service.SupportOverlayService" />
    </application>

</manifest>
